@inject SignInManager<IdentityUser> _signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Pentago</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <div class="container">
        <div>
            <a asp-page="/Index" class="logo-link">
                <img src="~/icon.png" alt="" class="logo"/>
            </a>
            <nav class="header-navbar">
                <a asp-page="/Index" class="hover-highlight">Home</a>
                <a asp-page="/Play" class="hover-highlight">Play</a>
            </nav>
        </div>
        <div>
            <partial name="_LoginPartial"/>
        </div>
    </div>
</header>
<main>
    @RenderBody()
</main>
<footer>
    <div>
        &copy; 2021 - Pentago
    </div>
</footer>
@await RenderSectionAsync("Scripts", false)
</body>
</html>