@inject SignInManager<IdentityUser> _signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Pentago</title>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
<header>
    <nav class="main-nav">
        <div>
            <a asp-page="/Index" class="main-icon-link">
                <img src="icon.png" alt="" class="main-icon"/>
            </a>
            <a asp-page="/Index" class="hover-highlight">Home</a>
            <a asp-page="/Play" class="hover-highlight">Play</a>
        </div>
        <partial name="_LoginPartial"/>
    </nav>
</header>
<main>
    @RenderBody()
</main>
<footer>
    <div>
        &copy; 2021 - Pentago - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
@await RenderSectionAsync("Scripts", false)
</body>
</html>