@inject SignInManager<IdentityUser> _signInManager
@inject UserManager<IdentityUser> _userManager

<div>
    @if (_signInManager.IsSignedIn(User))
    {
        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="hover-highlight">Hello @User.Identity!.Name</a>
        <a asp-area="Identity" asp-page="/Account/Logout" class="hover-highlight">Logout</a>
    }
    else
    {
        <a asp-area="Identity" asp-page="/Account/Register" class="hover-highlight">Register</a>
        <a asp-area="Identity" asp-page="/Account/Login" class="hover-highlight">Login</a>
    }
</div>