html, body {
    margin: 0;
    font-family: sans-serif;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto 10px;
}

.main-nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1em 0.5em;
    font-size: 20px;
}

.main-nav a:visited {
    text-decoration: none;
    color: black;
}

.main-nav .login-button {
    align-self: flex-end;
}

.hover-highlight:hover {
    background-color: lightgray;
}

.main-icon {
    height: 20px;
    width: auto;
}