@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

html, body {
    margin: 0;
    font-family: system-ui, Cantarell, Roboto, sans-serif;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid lightgray;
}

.container div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-navbar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px 10px;
}

.header-navbar a:visited {
    text-decoration: none;
    color: black;
}

.hover-highlight:hover {
    background-color: lightgray;
}

.header-link {
    display: inline-block;
}

.logo {
    display: block;
    height: 40px;
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #e6e7e8;
    font-size: 20px;
    border-top: 1px solid lightgray;
}

footer div {
    padding: 30px;
}

main {
    padding: 0 20px;
}